* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightgray;
  font-family: Futura, Roboto, Oxygen, Ubuntu, 'Segoe UI', 'Open Sans', sans-serif;
}

header, footer {
  width: 100%;
  padding: 1em 0;
  background-color: #BBB;
}

header h1 {
  text-align: center;
}

footer h4 {
  text-align: center;
}

main {
  flex: 1 0 auto;
  height: 100%;
}

ul {
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 2px solid #777;
  border-radius: 4px;
  list-style: none;
}

li {
  margin-top: 0.25em;
}

label {
  margin: 0 0.5em;
}

button {
  width: 12em;
  margin: 1em;
  padding: 0.5em;
}

#gameOptionsSection {
  display: flex;
  justify-content: center;
}

#gameOptionsSection button {
  width: 6em;
  height: 6em;
  margin: 0.5em;
  padding: 0.5em;
}

#scoreboard {
  display: flex;
}

#scoreboard h4 {
  margin: 2em;
}

#history {
  margin-top: 2em;
}
